<!DOCTYPE html>
</html>
<head>
    <title>Simple Blog</title>
    <link href="/../css/stylesheet.css" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
    
    <div class="row section-head">
        <h2><%=headline %></h2>
    </div>
            
    <div class="row section-body">