<!doctype html>
html
    head
        link(rel='stylesheet' href='/style.css')
        title Character Deletion
    body
        h1 The character named #{name} has been deleted.
        p
            a(href="/index.html") Log in as a different character