<section>
    
    <p>
        To enter more contacts, click here: <a href="/">Contacts</a>
    </p>
    
    <h1>Contacts</h1>
    
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>E-Mail</th>
            </tr>
            <tr>
                <th><input name="Fname"></th>
                <th><input name="Lname"></th>
                <th><input name="emailAddress"></th>
            </tr>
        </thead>
        <tbody>
            {{#each contacts}}
            <tr>
                <td>{{firstname}}</td>
                <td>{{lastname}}</td>
                <td>{{email}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    
</section>