<form method="POST">
		<label>Post a to do item:
			<input name="title" placeholder="To Do Item">
		</label>
		<button type="submit">submit</button>
</form>

<form method="POST">
		<label>Search for a to do item:
			<input name="title" placeholder="Search">
		</label>
		<button type="submit">submit</button>
</form>
