/** Colors **/
body {
  background-color: #2f2f2f;
}

main {
  background-color: #4f4f4f;
  color: #4acd2f;
}

#navbar {
  background-color: #2f2f2f;
}

#navbar li:hover {
  background-color: #1f1f1f;
}

#navbar .active {
  background-color: #1f1f1f;
}

.area {
  background-color: #5d5d5d;
}

.module {
  background-color: #6f6f6f;
}

.status {
  border-bottom: 2px solid #8b8b8b;
}

.column {
  border: 2px solid #8b8b8b;
  border-top: none;
  border-bottom: none;
  border-right: none;
}

.lastColumn {
  border-right: 2px solid #8b8b8b;
}

.button {
  background-color: #222222;
  color: white;
  border: 2px solid #4acd2f;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
   -khtml-user-select: none; /* Konqueror */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                not supported by any browser */
}

.button:hover {
	background-color:#4d8f2c;
}

/* Layout */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
html, body {
  height: 100vh;
  width: 100vw;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
main {
  width: 94%;
  margin: 0 3%;
  font-family: Verdana;
  font-size: 14px;
}
#headingStuff {
  text-align: center;
  padding: 0.5rem 0;
}
#navbar ul {
  list-style: none;

  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}
#navbar li {
  cursor: pointer;

  padding: 1rem 1rem;

  font-size: 24px;
  font-weight: bold;
}
/*.hidden {
  display:none !important;
}*/
.status {
  display: flex;
  flex-direction: row;

  justify-content: center;
}
.column {
  padding: 0.2rem;

  text-align: center;
}
.column h2 {
  font-size: 24px;
}
.column h3 {
  font-size: 16px;
}
#game {
  /*display: flex;
  flex-direction: column;*/
  font-size: 20px;
}
.area {
  margin: 0 1rem;
}
.modulesContainer {
  /*display: flex;
  flex-direction: column;*/
}
.moduleRow {
  display: flex;
  justify-content: center;
}
.module {
  padding: 0.6rem;
  margin: 0.4rem;
  width: 47%;
}
.buttonHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.6rem;
}
.button {
  cursor: pointer;
  font-size: 20px;
  padding: 0.4rem;
  margin: 0.2rem 0;
  text-align: center;
}
