doctype html
html
  head
    title="Order - ACE Order Center"
    link(rel="stylesheet" href="/styles.css")
    meta(name="viewport" content="width=device-width")
    script(src="/dist/socket.io.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="/clientScript.js")
  body
    Main
      div#headingStuff
        h1="A.C.E. Order Center"
      
